<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">

    <title>Document</title>
</head>

<body>
    <div class="container">
        <%= data.length %>
            <div class="row">
                <div class="col-md-8 mt-5">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Num data </th>
                                <th>Nombre </th>
                                <th>address</th>
                                <th>tel </th>
                                <th>actions</th>
                            </tr>

                        </thead>
                        <tbody>
                            <% if (data){ %>
                                <% for (let i=0; i<data.length; i++){ %>
                                    <tr>
                                        <td>
                                            <%= (i + 1) %>
                                        </td>
                                        <td>
                                            <%= data[i].name %>
                                        </td>
                                        <td>
                                            <%= data[i].adress %>
                                        </td>
                                        <td>
                                            <%= data[i].phone %>
                                        </td>
                                        <td>
                                            <!--se pasa el dato para ontener el id de ese indice-->
                                            <a href="/update/<%= data[i].id %>" class="btn btn-info">Edit</a>
                                            <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a>
                                        </td>
                                    </tr>

                                    <% }%>

                                        <% } %>


                        </tbody>
                    </table>

                </div>
                <div class="col-md-4 mt-5">
                    <div class="card">
                        <div class="card-header">
                            <h3>Registro</h3>
                        </div>
                        <!--configurar ruta /add a traves del server -->
                        <form action="/add" method="POST">

                            <div class="form-group">
                                <input type="text" name="name" placeholder="nombre" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="adress" placeholder="adress" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="number" name="phone" placeholder="telefono" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary ">enviar</button>


                        </form>
                    </div>

                </div>

            </div>

    </div>

</body>

</html>